
@{
    /*Admin*/

    ViewBag.Title = "Admin";
}
<section>
    
        <div style="margin-top:10%;margin-left:25%;">
            <a href="~/Home/Index" class="btn btn-primary ">&laquo;На главную </a>
            <a href="~/Admin/AdminPartialUser" class="btn btn-primary ">Список пользователей &raquo;</a>
            <a href="~/Admin/AdminPartialRoom" class="btn btn-primary ">Список комнат &raquo;</a>
        </div>
       
</section>

